body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header, footer {
    display: flex;
    justify-content: center;
    font-weight: 700;
    padding: 30px 0;
    font-size: 20px;
    background: ghostwhite;
}

.home ul {
    list-style: none;
}

footer {
    flex-direction: column;
}

footer span {
    padding-top: 15px;
    font-weight: 100;
}

nav {
    display: flex;
    width: 500px;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
}

.table_tr {
    background: lightgray;
}

table{
    margin: 30px auto;
    border: 1px solid;
}

caption {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}